.nav_bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(88, 88, 129);
}

.nav_bar .items{
    text-decoration: none;
    color: white;
    padding: 10px;

}

.nav_bar .items:hover{
    background-color: aqua;
    color: black;
}